# yaml-language-server:$schema=https://json.schemastore.org/github-workflow.json
# https://docs.github.com/en/actions/writing-workflows
name: Toolchain Verification

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  toolcache-inspection:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'macos-latest', 'ubuntu-latest', 'windows-latest' ]
    steps:
      - name: Check out Git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up older JDK versions
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'zulu'
          java-version: |
            8
            11
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: |
            17
            21
            22
      - name: Cache maven artifacts
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: ${{ runner.os }}-maven-auto-generated-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: "Check update-alternatives on Linux"
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: update-alternatives --list java
      - name: "Check actions/setup-java Toolchain"
        run: cat ~/.m2/toolchains.xml
      - name: Inspect Toolchain
        run: |
          ./mvnw --version
          ./mvnw toolchains:display-discovered-jdk-toolchains

  auto-generated:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up older JDK versions
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'zulu'
          java-version: |
            6
            7
            8
            9
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: |
            17
            21
            22
      - name: Cache maven artifacts
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: ${{ runner.os }}-maven-auto-generated-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: "Remove actions/setup-java Toolchain"
        run: |
          cat ~/.m2/toolchains.xml
          rm ~/.m2/toolchains.xml
          stat ~/.m2/toolchains.xml
        continue-on-error: true
      - name: Configure Maven
        run: cp -f .mvn/maven_ci.config .mvn/maven.config
      - name: Inspect Toolchain
        run: |
          ./mvnw --version
          ./mvnw toolchains:display-discovered-jdk-toolchains
          update-alternatives --list java
          stat ~/.m2/toolchains.xml
        continue-on-error: true # the stat call will fail this step otherwise
      - name: Build with Maven
        run: |
          ./mvnw test
        continue-on-error: true # make caching work https://github.com/actions/cache/issues/1317

  auto-generated-wrapper:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up older JDK versions
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'zulu'
          java-version: |
            6
            7
            8
            9
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: |
            17
            21
            22
      - name: Cache maven artifacts
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: ${{ runner.os }}-maven-auto-generated-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: "Remove actions/setup-java Toolchain"
        run: |
          cat ~/.m2/toolchains.xml
          rm ~/.m2/toolchains.xml
          stat ~/.m2/toolchains.xml
        continue-on-error: true
      - name: Configure Maven
        run: cp -f .mvn/maven_ci.config .mvn/maven.config
      - name: Inspect Toolchain
        run: |
          ./mvnw --version
          ./mvnw toolchains:display-discovered-jdk-toolchains
          update-alternatives --list java
          stat ~/.m2/toolchains.xml
        continue-on-error: true # the stat call will fail this step otherwise
      - name: Build with Maven
        run: |
          ./mvnw test
        continue-on-error: true # make caching work https://github.com/actions/cache/issues/1317

  self-managed:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up older JDK versions
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'zulu'
          java-version: |
            6
            7
            8
            9
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: |
            17
            21
            22
      - name: Cache maven artifacts
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: ${{ runner.os }}-maven-self-managed-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Configure Maven
        run: cp -f .mvn/maven_ci.config .mvn/maven.config
      - name: Inspect Toolchain
        run: |
          ./mvnw --version
          ./mvnw toolchains:display-discovered-jdk-toolchains
          update-alternatives --list java
          cat ~/.m2/toolchains.xml
      - name: Build with Maven
        run: |
          ./mvnw test
        continue-on-error: true # make caching work https://github.com/actions/cache/issues/1317

  self-managed-wrapper:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up older JDK versions
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'zulu'
          java-version: |
            6
            7
            8
            9
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: |
            17
            21
            22
      - name: Cache maven artifacts
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: ${{ runner.os }}-maven-self-managed-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Configure Maven
        run: cp -f .mvn/maven_ci.config .mvn/maven.config
      - name: Inspect Toolchain
        run: |
          ./mvnw --version
          ./mvnw toolchains:display-discovered-jdk-toolchains
          update-alternatives --list java
          cat ~/.m2/toolchains.xml
      - name: Build with Maven
        run: |
          ./mvnw test
        continue-on-error: true # make caching work https://github.com/actions/cache/issues/1317
